In [1]:
import pandas as pd
import numpy as np

import xgboost as xgb

In [2]:
def get_response_code(X_train_feature, y_train):   
    
    categories = X_train_feature.unique()
    
    lst_response_code = []   
    
    for category in categories:        
        
        probablity_0 = 0
        probablity_1 = 0
        for i, x in enumerate(X_train_feature):
            if x == category:
                if y_train[i] == 0:
                    probablity_0 += 1
                else:
                    probablity_1 += 1
        
        response_code = {'category' : category, 
                         'category_0' : probablity_0, 
                         'category_1' : probablity_1, 
                         'category_total': probablity_0+ probablity_1 }
        
        lst_response_code.append(response_code)
    
    return pd.DataFrame(lst_response_code)

In [3]:
def encode_categorical_value(X, df_response_code):
    
    lst_category_0 = []
    lst_category_1 = []
    for data in X:
                
        df_res = df_response_code[df_response_code.category == data]
        
        if len(df_res) != 0:
            lst_category_0.append(df_res.category_0.values[0] / df_res.category_total.values[0])
            lst_category_1.append(df_res.category_1.values[0] / df_res.category_total.values[0])
        else:
            lst_category_0.append(0.5)
            lst_category_1.append(0.5)
        
    return lst_category_0, lst_category_1

In [2]:
X_train = np.array(['A', 'B', 'A', 'C', 'D', 'B', 'A'])
Y_train = np.array([ 1,   1,   1,   0,   1,   0,   0])

X_test = np.array(['A', 'D', 'E'])

data = {'X_train': X_train, 'Y_train': Y_train}
df = pd.DataFrame(data)
df

  X_train  Y_train
0       A        1
1       B        1
2       A        1
3       C        0
4       D        1
5       B        0
6       A        0

In [5]:

df_response_code = get_response_code(df.X_train, df.Y_train)
print(df_response_code)

  category  category_0  category_1  category_total
0        A           1           2               3
1        B           1           1               2
2        C           1           0               1
3        D           0           1               1

In [6]:
encode_categorical_value(df.X_train, df_response_code)

([0.3333333333333333,
  0.5,
  0.3333333333333333,
  1.0,
  0.0,
  0.5,
  0.3333333333333333],
 [0.6666666666666666,
  0.5,
  0.6666666666666666,
  0.0,
  1.0,
  0.5,
  0.6666666666666666])

In [7]:
encode_categorical_value(X_test, df_response_code)

([0.3333333333333333, 0.0, 0.5], [0.6666666666666666, 1.0, 0.5])

In [24]:
df_category = df[df.X_train == 'A']

for i in range(len(df_category)):
    print(df_category.X_train.values[i])

A
A
A

In [19]:
df[df.X_train == 'A']

  X_train  Y_train
0       A        1
2       A        1
6       A        0

In [12]:
import nltk
#nltk.downloader.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [13]:
sid = SentimentIntensityAnalyzer()

In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9